<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hardware Management System</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/form.css" >
</head>
<body>

<header th:fragment="header">
  <nav class="links">
    <div class="left-links">
      <a aria-label="Go to index page" th:href="@{/}" th:unless="${user}">Hardware Management System</a>
      <a aria-label="Go to Home page" th:href="@{/home}" th:if="${user}">Home</a>

      <div class="admin-links" th:if="${user != null and #authorization.expression('hasRole(''ADMIN'')')}">
        <a aria-label="Go to Users page" th:href="@{/users}">Users</a>
        <a aria-label="Go to Offices page" th:href="@{/offices}">Offices</a>
        <a aria-label="Go to Departments page" th:href="@{/departments}">Departments</a>
        <a aria-label="Go to Projects page" th:href="@{/projects}">Projects</a>
      </div>

    </div>
    <div class="right-links">
      <a th:href="@{/login}" th:unless="${user}" aria-label="Login">Login</a>
      <a th:href="@{/logout}" th:if="${user}" aria-label="Logout">Logout</a>
    </div>
  </nav>
</header>

<footer th:fragment="footer" class="footer">
  <p>&copy; 2025 Hardware Management System</p>
</footer>

</body>
</html>
