<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hardware Management System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header th:fragment="header">
  <nav>
    <div class="links">
      <li th:unless="${user}">
        <a th:href="@{/login}">Login</a>
      </li>
      <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a th:href="@{/users}">Users</a>
        <a th:href="@{/offices}">Offices</a>
        <a th:href="@{/departments}">Departments</a>
        <a th:href="@{/projects}">Projects</a>
      </div>
      <li th:if="${user}">
        <a th:href="@{/logout}">Logout</a>
      </li>
    </div>
  </nav>
</header>

<footer th:fragment="footer">
  <p>&copy; 2025 Hardware Management System</p>
</footer>

</body>
</html>
