<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>
<body>
<header th:replace="~{fragments/commons :: header}"></header>

  <main>
    <h2 class="form-title">Add New Department</h2>

    <form class="form-container" th:action="@{/departments/add-department}" th:method="POST" th:object="${addDepartmentRequest}">

      <div class="form-group">
        <label class="form-label">Department Name:</label>
        <input class="form-input" type="text" th:field="*{name}" placeholder="Enter department name">
        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
      </div>

      <button class="btn btn-submit" type="submit">Register Department</button>
    </form>
  </main>
</div>

<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>