<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>
<body>
<header th:replace="~{fragments/commons :: header}"></header>

    <!-- Main Content -->
    <main>
        <h2 class="form-title">Add New Office</h2>

        <form class="form-container" th:action="@{/offices/add-office}" th:method="POST" th:object="${addOfficeRequest}">

            <div class="form-group">
                <label class="form-label">Office Name:</label>
                <input class="form-input" type="text" th:field="*{name}" placeholder="Enter office name">
                <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>z

            <div class="form-group">
                <label class="form-label">Location:</label>
                <textarea class="form-textarea" th:field="*{location}" placeholder="Enter office location" rows="5"></textarea>
                <p class="error" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
            </div>

            <button class="btn btn-submit" type="submit">Register Office</button>
        </form>
    </main>
</div>

<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>