<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}"></head>

<body>
<header th:replace="~{fragments/commons :: header}"></header>
<main>
    <form class="form-container" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
        <label for="username">Username:</label>
        <input id="username" placeholder="Username" th:field="*{username}" type="text">

        <label for="password">Password:</label>
        <input id="password" placeholder="Password" th:field="*{password}" type="password">

        <p class="alert-warning" th:if="${errorMessage}" th:text="${errorMessage}"></p>

        <button type="submit">Login</button>
    </form>
</main>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>